<!-- Page Heading -->
<div id="content-wrapper" class="d-flex flex-column">
	
	<h1 class="h3 mb-1 text-gray-800">Award</h1>
	<br/>
	<!-- Content Column -->
	<div class="row">
		 <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">도시영화제</h6>
            </div>
            <div class="card-body">
				수상일자 : 2013/10/10<br/>
				주체기관 : 대한국토·도시설계학회<br/>
				수상결과 : 장려상<br/>
			</div>
	</div>
</div>
<!-- /.container-fluid -->