<!-- Page Heading -->
<div id="content-wrapper" class="d-flex flex-column">
	
	<h1 class="h3 mb-1 text-gray-800">Certification</h1>
	<br/>
	<!-- Content Column -->
	<div class="row">

            <!-- First Column -->
            <div class="col-lg-4">

              <!-- Custom Text Color Utilities -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">정보처리기사</h6>
                </div>
                <div class="card-body">
					발급일자 : 2017/05/26<br/>
					발급기관 : 한국산업인력공단<br/>
					등록번호 : 17201051163C<br/>
                  </div>
              </div>
            </div>

            <!-- Second Column -->
            <div class="col-lg-4">

              <!-- Background Gradient Utilities -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">OPIC 영어</h6>
                </div>
                <div class="card-body">
					발급일자 : 2020/08/13<br/>
					발급기관 : 한국TOEIC위원회<br/>
					성적결과 : IM2<br/>
				</div>
              </div>

            </div>

            <!-- Third Column -->
            <div class="col-lg-4">

              <!-- Grayscale Utilities -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">OPIC 스페인어</h6>
                </div>
                <div class="card-body">
					발급일자 : 2020/08/22<br/>
					발급기관 : 한국TOEIC위원회<br/>
					성적결과 : IM2<br/>
                  </div>
              </div>
            </div>

          </div>

	</div>
<!-- /.container-fluid -->