<!-- Page Heading -->
<div id="content-wrapper" class="d-flex flex-column">
	
	<h1 class="h3 mb-1 text-gray-800">Education</h1>
	<br/>
	<!-- Content Row -->
	<div class="row">
		 <!-- Grow In Utility -->
            <div class="col-lg-6">

              <div class="card position-relative">
                <div class="card-header py-3">
				  <h6 class="m-0 font-weight-bold text-primary">안양대학교(2011/02 – 2017/02)</h6>
                </div>
                <div class="card-body">
				  <div class="small mb-1">-	공학계열 도시정보공학과 전공 (평점 : 3.68/4.50)</div>
				  <div class="small mb-1">-	컴퓨터공학과 및 행정학과 타 전공 과목 수강</div>
				  <div class="small mb-1">– C언어프로그래밍, 객체지향프로그래밍, 데이터베이스, 전자정부와 행정정보</div>
                </div>
              </div>
            </div>

            <!-- Fade In Utility -->
            <div class="col-lg-6">
				<div class="card position-relative">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">LX 공간정보아카데미(2016/07 – 2016/12)</h6>
					</div>
					<div class="card-body">
						<div class="small mb-1">-	LX한국국토정보공사 주관 전문인력 양성 과정 수료</div>
						<div class="small mb-1">-	IT 실무에서 활용되는 정보통신 기술 교육 수강 – JAVA프로그래밍, SQL 활용/JDBC 프로그래밍, Android  Studio, Node.js, 지도 API, 공간정보개론, R을 활용한 통계분석 등</div>
						<div class="small mb-1">-	LBS를 활용한 여성안심귀가 도움 모바일 지도 서비스 “안전하길“ 최종 프로젝트 제출</div>
					</div>
				</div>
			</div>
		</div>

        <!-- /.container-fluid -->
</div>