<!-- Page Heading -->
<div id="content-wrapper" class="d-flex flex-column">
	
	<h1 class="h3 mb-1 text-gray-800">Skills&Language</h1>
	<br/>
<!-- Content Column -->
<div class="row">
	<div class="col-lg-6 mb-4">
		<!-- Project Card Example -->
		<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Skills</h6>
		</div>
		<div class="card-body">
			<h4 class="small font-weight-bold">C <span class="float-right">Basic</span></h4>
			<div class="progress mb-4">
			<div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<h4 class="small font-weight-bold">Python <span class="float-right">Basic</span></h4>
			<div class="progress mb-4">
			<div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<h4 class="small font-weight-bold">Java <span class="float-right">Intermediate</span></h4>
			<div class="progress mb-4">
			<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<h4 class="small font-weight-bold">JavaScript <span class="float-right">Intermediate</span></h4>
			<div class="progress mb-4">
			<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<h4 class="small font-weight-bold">DBMS <span class="float-right">Intermediate</span></h4>
			<div class="progress">
			<div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
		</div>
	</div>
	<div class="col-lg-6 mb-4">
		<!-- Project Card Example -->
		<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Language</h6>
		</div>
		<div class="card-body">
			<h4 class="small font-weight-bold">한국어 <span class="float-right">Master</span></h4>
			<div class="progress mb-4">
			<div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<h4 class="small font-weight-bold">영어 <span class="float-right">Intermediate</span></h4>
			<div class="progress mb-4">
			<div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<h4 class="small font-weight-bold">스페인어 <span class="float-right">Intermediate</span></h4>
			<div class="progress mb-4">
			<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			
		</div>
		</div>
	</div>
</div>
        <!-- /.container-fluid -->