<!-- Page Heading -->
<div id="content-wrapper" class="d-flex flex-column">
	
	<h1 class="h3 mb-1 text-gray-800">Volunteer</h1>
	<br/>
	<!-- Content Column -->
	<div class="row">
		 <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">한국중부발전 대학생 행복서포터즈 1기</h6>
            </div>
            <div class="card-body">
				-	한국중부발전 대학생 행복서포터즈 1기 수료 (2014/01/24)<br/>
				-	팀 리그 우수상<br/>
				<a href="https://blog.naver.com/nayun128">https://blog.naver.com/nayun128</a>
			</div>
	</div>
</div>
<!-- /.container-fluid -->