<!-- Page Heading -->
<div id="content-wrapper" class="d-flex flex-column">
	
	<h1 class="h3 mb-1 text-gray-800">About</h1>
	<div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
		  <!--<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>-->
		  <img class="col-lg-5 d-none d-lg-block" src="assets/css/images/profile.jpg" alt="" />
          <div class="col-lg-7">
            <div class="p-5">
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
					  <h1 class="h4 text-gray-900 mb-4">엄나윤</h1>
					  <p>1993.01.28</p>
					  <p>010.5564.5438</p>
					  <p>nyeom128@gmail.com</p>
					  <a href="https://www.linkedin.com/in/nyeom128">
					  <p>https://www.linkedin.com/in/nyeom128</p>
					  </a>
                  </div>
                </div>
              </form>
			  <hr>
			  <p class="mb-4">
				LX 한국국토정보공사 주관 공간정보 산업 데이터베이스 엔지니어 양성 과정 당시 안드로이드 기반 LBS를 활용한 여성 안심귀가 도움 모바일 서비스 '안전하길'을 최종 프로젝트로 제출하였습니다. 
				공공 SI 회사에 입사 후 총 4개의 프로젝트를 수행하였습니다. 한국환경공단 주관 사업인 국가수도정보센터 정보시스템 2차 확대 구축(2017.01.17~2017.12.20)과 
				국가수도정보센터 정보시스템 2단계 1차 확대구축(2018.03.08~2019.01.16) 프로젝트에 투입되어 수도 운영관리에 사용되는 시설물 가동현황, 상수도 계통정보
				, 급수구역 등 지도 서비스 기능 개발 및 운영관리와 수도시설 기술진단을 위한 기초자료 분석, 표준운영비 및 공사비 산정기능 개발 업무를 맡았습니다. 
				지능형 해양수산재난정보체계 3단계 구축(2017.12.21~2018.03.07)에 투입되어 침몰 선박 관리 및 전자해도 기반 시설물 현황, 통계 현황 표출 기능을 개발하였습니다. 
				최근 MSA(마이크로서비스 아키텍처) 구조를 가진 클라우드 기반 건축 행정 시스템 재구축(1차)(2019.07.11~2020.05.05) 
				프로젝트를 수행하면서 클라우드 기반의 시스템 구축 환경에서 인트라넷 포털 서비스 구축 업무를 담당하였습니다. 
			</p>
            </div>
          </div>
        </div>
      </div>
	
	

	<!-- Content Row -->
	<div class="row"></div>

</div>