<!-- Page Heading -->
<div id="content-wrapper" class="d-flex flex-column">
	
	<h1 class="h3 mb-1 text-gray-800">Work Experience</h1>
	<br/>
	<!-- Content Row -->
	<div class="row">
		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
				<div class="row no-gutters align-items-center">
				<div class="col mr-2">
					<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">클라우드기반 건축행정시스템 재구축(1차)</div>
					<div class="h5 mb-0 font-weight-bold text-gray-800">클라우드 기반 정보관리체계로 통합 전환 구축</div>
				</div>
				<div class="col-auto">
					<i class="fas fa-calendar fa-2x text-gray-300"></i>
				</div>
				</div>
			</div>
			</div>
		</div>

		<!-- Earnings (Annual) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
				<div class="col mr-2">
					<div class="text-xs font-weight-bold text-success text-uppercase mb-1">국가수도정보센터 정보시스템 2단계 1차 확대 구축</div>
					<div class="h5 mb-0 font-weight-bold text-gray-800">수도 단위업무별 상수도 정책수립지원 서비스 구축</div>
				</div>
				<div class="col-auto">
					<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
				</div>
				</div>
			</div>
			</div>
		</div>

		<!-- Tasks Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
				<div class="col mr-2">
					<div class="text-xs font-weight-bold text-info text-uppercase mb-1">지능형 해양수산재난정보체계 3단계 구축 사업</div>
					<div class="row no-gutters align-items-center">
					<div class="col-auto">
						<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">전자해도기반 통합 웹 GIS구축</div>
					</div>
					<div class="col">
						<div class="progress progress-sm mr-2">
						<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
					</div>
				</div>
				<div class="col-auto">
					<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
				</div>
				</div>
			</div>
			</div>
		</div>

		<!-- Pending Requests Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
				<div class="col mr-2">
					<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">국가수도정보센터 정보시스템 2차 확대 구축</div>
					<div class="h5 mb-0 font-weight-bold text-gray-800">상수도 GIS 시스템 구축</div>
				</div>
				<div class="col-auto">
					<i class="fas fa-comments fa-2x text-gray-300"></i>
				</div>
				</div>
			</div>
			</div>
		</div>

		 <div class="row">

            <div class="col-lg-6">

              <!-- Default Card Example -->
              <div class="card mb-4">
                <div class="card-header">
                  	2019/07/11 – 2020/05/05 | 클라우드 기반 건축행정시스템 재구축(1차)
                </div>
                <div class="card-body">
                  -	입찰 제안서 및 공정산출물(분석, 설계, 개발, 테스트, 이행 등) 작성<br/>
				-	전국 245개 자치단체 공무원에 대한 포털 서비스 개발<br/>
					OS : Window, Linux<br/>
					Programming Language : JAVA 1.8, HTML5, CSS3, JavaScript<br/>
					Tool : Eclipse, WebSquare, GitHub<br/>
					DB : Oracle Database 11g <br/>
					Etc : JPA
				</div>
              </div>

			  <!-- Basic Card Example -->
			  <div class="card mb-4">
                <div class="card-header">
                  	2017/12/21 – 2018/03/07 | 지능형 해양수산재난정보체계 3단계 구축 사업
                </div>
                <div class="card-body">
					-	 전자해도기반 시설물(해양시설, 침몰선박, 항만시설 등) 현황, 통계현황조회 웹 GIS기능 개발  <br/>
				  	-	침몰선박 온라인 첨부파일 제출 <br/><br/>
						OS : Window, Linux<br/>
						Programming Language : JAVA 1.7, HTML5, CSS3, JavaScript<br/>
						Tool : Eclipse, TortoiseSVN<br/>
						DB : CUBRID 9.3.3<br/>
						Etc : OpenLayers, GeoServer
				</div>
              </div>

			</div>
			<div class="col-lg-6">

              <!-- Default Card Example -->
              <div class="card mb-4">
                <div class="card-header">
                  	2018/03/08 – 2019/01/16 | 국가수도정보센터 정보시스템 2단계 1차 확대 구축
                </div>
                <div class="card-body">
                 -	수도 단위업무별 상수도 정책수립지원 서비스 구축<br/>
				-	수도시설 기술진단을 위한 기초자료 분석, 표준운영비 및 공사비 산정 기능 개발<br/><br/>
					OS : Window, UNIX<br/>
					Programming Language : JAVA 1.7, HTML5, CSS3, JavaScript<br/>
					Tool : Eclipse, Nexacro Platform 14, SVN<br/>
					DB : Oracle Database 12c<br/>
				</div>
              </div>

              <!-- Basic Card Example -->
              <div class="card mb-4">
                <div class="card-header">
                  	2017/01/17 – 2017/12/20 | 국가수도정보센터 정보시스템 2차 확대 구축
                </div>
                <div class="card-body">
				  - GIS 데이터 구축 <br/>
				  -	수도운영관리에  사용되는 시설물(취수장, 정수장, 배수지 등) 가동현황, 상수도 계통정보,  시설별 급수구역, 지도기반 대시보드 등 웹 GIS 기능 개발 및 운영관리<br/><br/>
					OS : Window, UNIX<br/>
					Programming Language : JAVA 1.7, HTML5, CSS3, JavaScript<br/>
					Tool : Eclipse, Nexacro Platform 14, SVN<br/>
					DB : Oracle Database 12g, Oracle Spatial and Graph 12c, PostgreSQL 9.3
                </div>
              </div>

            </div>
	</div>
	</div>
</div>